language: go

go:
  - 1.8.x
  - 1.9.x
  - 1.10.x

before_install:
  - make deps

script:
  - make lint
  - make build
  - make test
  - go test -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)
